@{
    ViewData["Title"] = "Home Page";
}

<style>
    h2.Welcome {
        text-align: center;
    }
</style>
<h2 class="Welcome">Welcome to IA!</h2>

<pre>
IA, a product of Chibur currently in alpha testing, connects [Consumers], anyone who is looking for 
content to publish,  directly to the people that produce it, [Producers].
</pre>
<pre>
    Consumers:
    1. Register for access.
    2. Browse content available, and request specific content.
    3. Bid, purchase, publish!
</pre>
<pre>
    Producers:
    1. Register for access.
    2. Submit content. 
    3. Get paid!
</pre>

<style>
    .signup {
        border: 4px solid black;
    }
</style>

<table style="width:100%">
    <tr>
        <td>
            <form>
                <button id="Signup" class="signup" formaction="/Home/Signup">
                I am a Producer </button>
            </form>
        </td>

        <td>
            <form>
                <button id="Signup" class="signup" formaction="/Home/Signup">
                I am a Consumer </button>
            </form>
        </td>
    </tr>
</table>