@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to Project IA!</h2>

<pre>
    Project IA is a product currently in alpha testing that connects [Consumers], 
    anyone who is looking for content to publish,  directly to the people that
    produce it, [Producers].
</pre>
<pre>
    Consumers:
    1. Register for access.
    2. Browse content available, and request specific content.
    3. Bid, purchase, publish!
</pre>

<pre>
    Producers:
    1. Register for access.
    2. Submit content. 
    3. Get paid!
</pre>

<table style="width:100%">
    <tr>
        <th>
            <input type="button"
                   value="Create Contributor Account">
        </th>
        <th>
            <input type="button"
                   value="Create Producer Account">
        </th>
    </tr>
</table>
