
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup page</title>
</head>
<body>
    <form>
        <button id="Back" formaction="/home">Back</button>
    </form>

<style>
    input[type=submit] {
        width: 7em;
        height: 4em;
        color:white;
        background-color:blue;
    }
    h2.Producer {
        text-align: center;
    }
    h2.Consumer {
        text-align: center;
    }
</style>

<div id="Producer">
    <h2 class="Producer">Producer Registration Form</h2>
    
    <form>
    </form>
</div>

<div id="Consumer">
    <h2 class="Consumer">Consumer Registration Form</h2><br>
    Once you complete the signup you will be 
    sent an email with further instructions! <br><br>
    <span style="color:red;">* Required</span> <br><br>
    <form>
        <font size="5">First Name <span style="color:red;">*</span></font><br><br>
        <input type="text" name="First Name"><br><br>
        <font size="5">Last Name <span style="color:red;">*</span></font><br><br>
        <input type="text" name="Last Name"> <br><br>
        <font size="5">How did you hear about Project IA? <span style="color:red;">*</span></font><br><br>
        <input type="text" name="Hear"><br><br>
        <font size="5">Email <span style="color:red;">*</span></font><br>
        Please use a gmail email address to
        sign up for access to IA. During our
        pilot we are using google<br>drive and you
        will need a gmail email address to access.<br><br>
        <input type="text" name="Email"><br><br>
        <font size="5">Mobile Phone Number <span style="color:red;">*</span></font><br><br>
        <input type="text" name="Phone number"><br><br>
        <font size="5">Where do you plan to publish content that you purchase? <span style="color:red;">*</span></font><br><br>
        <input type="text" name="Where publish"><br><br>
        <font size="5">Instagram(s)</font><br><br><input type="text" name="Instagram"><br><br>
        <font size="5">Website(s)</font><br><br><input type="text" name="Websites"><br><br>
        <font size="5">Facebook page(s)</font><br><br><input type="text" name="Facebook"><br><br>
        <font size="5">LinkedIn</font><br><br><input type="text" name="LinkedIn"><br><br>
        <font size="5">Select Interests</font><br> You will be notified when new content is available for each category that you select<br><br>  
        <input type="checkbox" name="Fashion" value="Fashion"><font size="5">Fashion</font><br><br>
        <input type="checkbox" name="Technology" value="Technology"><font size="5">Technology</font><br><br>
        <input type="checkbox" name="Finance" value="Bike"><font size="5">Finance</font><br><br>
        <input type="checkbox" name="Marketing" value="Marketing"><font size="5">Marketing</font><br><br>
        <input type="checkbox" name="Mindfulness" value="Mindfulness"><font size="5">Mindfulness</font><br><br>
        <input type="checkbox" name="Politics" value="Politics"><font size="5">Politics</font><br><br>
        <input type="checkbox" name="Stock Market" value="Stock Market"><font size="5">Stock Market</font><br><br>
        <input type="checkbox" name="Art" value="Art"><font size="5">Art</font><br><br>
        <input type="checkbox" name="Other" value="Other"><font size="5">Other</font><input type="text" name="Other"><br><br>
        <font size="5">Optional: list specific keywords you would like included in the article for SEO.</font><br><br>
        <input type="text" name="Keywords"><br><br>
        <font size="5">Please read our terms: If you cannot agree to these terms you<br>cannot 
        be accepted into IA. By clicking yes to this question you<br>agree to these
        terms which include: to not to publish any<br>content you view within IA until
        it you have won the rights to<br>publish, and have completed payment. By 
        clicking yes to this<br>question you agree to any changes made to these 
        terms by us in<br>the future. Of course all changes to these terms will 
        be<br>communicated to registered users. By clicking yes you consent<br>to 
        receive text messages, and other communication, email etc.<br>by Chibur and
        our partners. You can be removed from<br>participation at any time by sending
        an email request to<br>info@chibur.info <span style="color:red;">*</span></font><br><br>
        <input type="radio" name="Yes" value="Yes"><font size="5">Yes</font><br><br>
        <input type="submit" value="SUBMIT"><br><br>
</form>
</div>
</body>
</html>
